.main {
  padding: 20px;
  background-color: #fff;
  min-height: 300px;
  text-align: center;
}

.text-accueil {
  font-size: 20px;
  color: #d62323;
  margin-top: 20px;
}
.image-accueil {
 
    width: 200px;
    height: 200px;
    align-items: left   ; 

}
.img-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}
